In [1]:
import pandas as pd
spain_df = pd.read_csv("data/spain.csv")
spain_clean_df = pd.read_csv("results/spain_clean.csv")

**Post Dataframe Exploration
***Questions:
    - Are there any games in the dataframe that are not Tier 1? Consider removing column if not.
    - Are there any games in the 'round' column that are not marked 'league'? Consider removing ones that are not.
    - What does the group column mean? Need to locate the games with data in the group column.
    - Where is the one game with data in the note column? 

***Objectives:
    - Answer above questions.
    - Evaluate columns for dropping.
    - Consider column readability.
    - Build list for cleaning program

    - Add points column? or Visitor and Home points columns.
        A win is 3 points. A tie is one point each. A loss is zero points.
        I will have to compare the hgoals and vgoals column for each row 
        and somehow assign points to each team.  
    
    Eventually, I would like to figure out the standings of the teams for any given season.

Cleaning objectives:

- create calculated fields.
    1. calculate points per game. (3pt for win. 1 for draw)

- add columns for points?

- remove unneeded columns.
    1. tier and round may need removed.
    2. remove games that have round other than league (phase2)
    3. remove games in groups a,b,c (after figuring out what they are, of course.)

- update column names to human readable values
    1. home to HomeTeam
    2. visitior to AwayTeam
    3. FT to FullTimeScore
    4. hgoal

In [2]:
spain_clean_df

,Date,Season,home,visitor,score,hgoal,vgoal,hpoint,vpoint
0,1929-02-10,1928,Real Sociedad,Athletic Bilbao,1-1,1,1,1,1
1,1929-02-10,1928,Espanyol Barcelona,Real Union,3-2,3,2,3,0
2,1929-02-10,1928,Real Madrid,CE Europa,5-0,5,0,3,0
3,1929-02-10,1928,Arenas de Getxo,Atletico Madrid,2-3,2,3,0,3
4,1929-02-12,1928,Racing Santander,FC Barcelona,0-2,0,2,0,3
...,...,...,...,...,...,...,...,...,...
26190,2022-05-22,2021,Real Sociedad,Atletico Madrid,1-2,1,2,0,3
26191,2022-05-22,2021,Elche CF,Getafe CF,3-1,3,1,3,0
26192,2022-05-22,2021,Granada CF,Espanyol Barcelona,0-0,0,0,1,1
26193,2022-05-22,2021,CD Alaves,Cadiz CF,0-1,0,1,0,3
26194,2022-05-22,2021,Sevilla FC,Athletic Bilbao,1-0,1,0,3,0

In [25]:
spain_df

,Date,Season,home,visitor,HT,FT,hgoal,vgoal,tier,round,group,notes
0,1929-02-10,1928,Arenas de Getxo,Atletico Madrid,0-2,2-3,2,3,1,league,NaN,NaN
1,1929-02-10,1928,Espanyol Barcelona,Real Union,1-0,3-2,3,2,1,league,NaN,NaN
2,1929-02-10,1928,Real Madrid,CE Europa,0-0,5-0,5,0,1,league,NaN,NaN
3,1929-02-10,1928,Real Sociedad,Athletic Bilbao,1-1,1-1,1,1,1,league,NaN,NaN
4,1929-02-12,1928,Racing Santander,FC Barcelona,0-0,0-2,0,2,1,league,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
26190,2022-05-22,2021,Granada CF,Espanyol Barcelona,NaN,0-0,0,0,1,league,NaN,NaN
26191,2022-05-22,2021,CA Osasuna,RCD Mallorca,NaN,0-2,0,2,1,league,NaN,NaN
26192,2022-05-22,2021,FC Barcelona,Villarreal CF,NaN,0-2,0,2,1,league,NaN,NaN
26193,2022-05-22,2021,Sevilla FC,Athletic Bilbao,NaN,1-0,1,0,1,league,NaN,NaN
26194,2022-05-22,2021,Real Sociedad,Atletico Madrid,NaN,1-2,1,2,1,league,NaN,NaN

In [18]:
home_wins_df = spain_clean_df[spain_clean_df['hgoal'] > spain_clean_df['vgoal']]
home_wins_df = home_wins_df.assign(hpoint = 3, vpoint = 0)
home_wins_df

,Date,Season,home,visitor,score,hgoal,vgoal,hpoint,vpoint
11853,1929-02-10,1928,Espanyol Barcelona,Real Union,3-2,3,2,3,0
11854,1929-02-10,1928,Real Madrid,CE Europa,5-0,5,0,3,0
11855,1929-02-17,1928,Athletic Bilbao,Espanyol Barcelona,9-0,9,0,3,0
11856,1929-02-17,1928,Real Union,Racing Santander,3-1,3,1,3,0
11857,1929-02-17,1928,CE Europa,Arenas de Getxo,5-2,5,2,3,0
...,...,...,...,...,...,...,...,...,...
26100,2022-05-15,2021,Levante UD,CD Alaves,3-1,3,1,3,0
26101,2022-05-15,2021,RCD Mallorca,Rayo Vallecano,2-1,2,1,3,0
26102,2022-05-21,2021,Valencia CF,Celta Vigo,2-0,2,0,3,0
26103,2022-05-22,2021,Elche CF,Getafe CF,3-1,3,1,3,0
26104,2022-05-22,2021,Sevilla FC,Athletic Bilbao,1-0,1,0,3,0