In [1]:
import pandas as pd
spain_df = pd.read_csv('../data/spain.csv')

Home and Away Questions:
    
    - What is the teams record for home games (win, loss, tie percentages)?
    - What is the teams record for away games (win, loss, tie percentages)?
    - What is the home teams record v specific away team? (win loss tie percentages)?
    - What are the 5 most recent games between the home and away team?

In [15]:
barca_home_df = spain_df[spain_df['home'] == 'FC Barcelona']
barca_home_df

,Date,Season,home,visitor,HT,FT,hgoal,vgoal,tier,round,group,notes
5,1929-02-17,1928,FC Barcelona,Real Madrid,0-1,1-2,1,2,1,league,NaN,NaN
18,1929-03-03,1928,FC Barcelona,Arenas de Getxo,1-2,2-2,2,2,1,league,NaN,NaN
29,1929-03-24,1928,FC Barcelona,CE Europa,3-0,5-2,5,2,1,league,NaN,NaN
37,1929-04-07,1928,FC Barcelona,Espanyol Barcelona,0-0,1-0,1,0,1,league,NaN,NaN
47,1929-04-28,1928,FC Barcelona,Racing Santander,2-0,5-1,5,1,1,league,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
26133,2022-04-18,2021,FC Barcelona,Cadiz CF,NaN,0-1,0,1,1,league,NaN,NaN
26144,2022-04-24,2021,FC Barcelona,Rayo Vallecano,NaN,0-1,0,1,1,league,NaN,NaN
26153,2022-05-01,2021,FC Barcelona,RCD Mallorca,NaN,2-1,2,1,1,league,NaN,NaN
26167,2022-05-10,2021,FC Barcelona,Celta Vigo,NaN,3-1,3,1,1,league,NaN,NaN
26192,2022-05-22,2021,FC Barcelona,Villarreal CF,NaN,0-2,0,2,1,league,NaN,NaN

In [4]:
barca_away_df = spain_df[spain_df['visitor'] == 'FC Barcelona']
barca_away_df

,Date,Season,home,visitor,HT,FT,hgoal,vgoal,tier,round,group,notes
4,1929-02-12,1928,Racing Santander,FC Barcelona,0-0,0-2,0,2,1,league,NaN,NaN
10,1929-02-24,1928,Real Sociedad,FC Barcelona,2-0,3-0,3,0,1,league,NaN,NaN
21,1929-03-10,1928,Atletico Madrid,FC Barcelona,2-0,4-1,4,1,1,league,NaN,NaN
33,1929-03-31,1928,Athletic Bilbao,FC Barcelona,1-0,5-1,5,1,1,league,NaN,NaN
41,1929-04-21,1928,Real Union,FC Barcelona,1-0,1-2,1,2,1,league,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
26103,2022-03-20,2021,Real Madrid,FC Barcelona,NaN,0-4,0,4,1,league,NaN,NaN
26122,2022-04-10,2021,Levante UD,FC Barcelona,NaN,2-3,2,3,1,league,NaN,NaN
26143,2022-04-21,2021,Real Sociedad,FC Barcelona,NaN,0-1,0,1,1,league,NaN,NaN
26160,2022-05-07,2021,Real Betis,FC Barcelona,NaN,1-2,1,2,1,league,NaN,NaN
26181,2022-05-15,2021,Getafe CF,FC Barcelona,NaN,0-0,0,0,1,league,NaN,NaN

Need to figure out how to calculate wins losses and ties

In [23]:
barca_home_df.shape

(1476, 12)

In [22]:
barca_home_wins_df = barca_home_df[barca_home_df['hgoal'] > barca_home_df['vgoal']]
barca_home_wins_df.shape

(1119, 12)

In [26]:
barca_home_losses_df = barca_home_df[barca_home_df['hgoal'] < barca_home_df['vgoal']]
barca_home_losses_df.shape

(137, 12)

In [28]:
barca_home_ties_df = barca_home_df[barca_home_df['hgoal'] == barca_home_df['vgoal']]
barca_home_ties_df.shape

(220, 12)

What is the home teams record v specific away team? (win loss tie percentages)?

In [34]:
barca_df = spain_df[spain_df['home']== "FC Barcelona"]
barca_madrid_df = barca_df[barca_df['visitor']== "Real Madrid"]
barca_madrid_df

,Date,Season,home,visitor,HT,FT,hgoal,vgoal,tier,round,group,notes
5,1929-02-17,1928,FC Barcelona,Real Madrid,0-1,1-2,1,2,1,league,NaN,NaN
131,1930-01-26,1929,FC Barcelona,Real Madrid,0-3,1-4,1,4,1,league,NaN,NaN
266,1931-04-05,1930,FC Barcelona,Real Madrid,2-1,3-1,3,1,1,league,NaN,NaN
356,1932-04-03,1931,FC Barcelona,Real Madrid,1-1,2-2,2,2,1,league,NaN,NaN
385,1933-01-01,1932,FC Barcelona,Real Madrid,0-0,1-1,1,1,1,league,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
24649,2018-05-06,2017,FC Barcelona,Real Madrid,NaN,2-2,2,2,1,league,NaN,NaN
24772,2018-10-28,2018,FC Barcelona,Real Madrid,NaN,5-1,5,1,1,league,NaN,NaN
25224,2019-12-18,2019,FC Barcelona,Real Madrid,NaN,0-0,0,0,1,league,NaN,NaN
25489,2020-10-24,2020,FC Barcelona,Real Madrid,NaN,1-3,1,3,1,league,NaN,NaN
25907,2021-10-24,2021,FC Barcelona,Real Madrid,NaN,1-2,1,2,1,league,NaN,NaN

In [36]:
madrid_df = spain_df[spain_df['home']== "Real Madrid"]
madrid_barca_df = madrid_df[madrid_df['visitor']== "FC Barcelona"]
madrid_barca_df

,Date,Season,home,visitor,HT,FT,hgoal,vgoal,tier,round,group,notes
53,1929-05-09,1928,Real Madrid,FC Barcelona,0-0,0-1,0,1,1,league,NaN,NaN
176,1930-03-30,1929,Real Madrid,FC Barcelona,3-0,5-1,5,1,1,league,NaN,NaN
221,1931-02-01,1930,Real Madrid,FC Barcelona,0-0,0-0,0,0,1,league,NaN,NaN
311,1932-01-31,1931,Real Madrid,FC Barcelona,2-0,2-0,2,0,1,league,NaN,NaN
430,1933-03-05,1932,Real Madrid,FC Barcelona,1-0,2-1,2,1,1,league,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
24462,2017-12-23,2017,Real Madrid,FC Barcelona,NaN,0-3,0,3,1,league,NaN,NaN
24928,2019-03-02,2018,Real Madrid,FC Barcelona,NaN,0-1,0,1,1,league,NaN,NaN
25313,2020-03-01,2019,Real Madrid,FC Barcelona,NaN,2-0,2,0,1,league,NaN,NaN
25729,2021-04-10,2020,Real Madrid,FC Barcelona,NaN,2-1,2,1,1,league,NaN,NaN
26103,2022-03-20,2021,Real Madrid,FC Barcelona,NaN,0-4,0,4,1,league,NaN,NaN