In [1]:
import pandas as pd
spain_df = pd.read_csv('../data/spain.csv')

'notes' Questions:
    - What is this specific record?
    - What should we do with it?

In [5]:
spain_df['notes'].unique()

array([nan, '1-0 win awarded to AD Almeria'], dtype=object)

In [7]:
spain_df.loc[spain_df['notes'] == '1-0 win awarded to AD Almeria']

,Date,Season,home,visitor,HT,FT,hgoal,vgoal,tier,round,group,notes
10436,1980-03-30,1979,CD Malaga,AD Almeria,0-0,0-1,0,1,1,league,NaN,1-0 win awarded to AD Almeria

Malaga seems to have forfeited the match.